img {
  width:75px;
  height:75px;
  float:left;
}

p {
  float: right;
  margin: auto;
}

#header {
  background-color:bisque;
  border-radius: 2px;
  padding: 2rem;
  width:50%;
  margin: 2rem auto;
}

nav a {
  padding: 0.5rem;
  text-decoration: none;
  margin-top: -100px;
  margin-right: -150px;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  float: right;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}

nav a:active {
  background-color: black;
}
