h1 {
  text-align: center;
  color:#fff;
  background-color:#3f525c;
  border-radius: 2px;
  padding: 1rem;
  width: 20%;
  margin: 2rem auto;
}

.items-details {
   text-align: center;
   background-color: #3f525c;
   color: #fff;
   font-size: 1.2rem;
   width: 50%;
   margin: 2rem auto;
}

label {
  color: #fff;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: .5rem;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

  button:hover {
    background-color: #cfd8dc;
  }

  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
img {
  width:400px;
  height:400px;
}
